# Byte-compiled / DLL / Python files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
venv/
env/
.venv/

# Environment File
.env

# Distribution / packaging
build/
dist/

# Misc
.idea
.ipynb_checkpoints

